<!DOCTYPE html>
<html lang="en">
<head th:include="base :: head">
</head>
<body>
	<header th:include="base :: header"> </header>
	<main sec:authorize="!isAuthenticated()" class="container" id="main">
		<div id="hello">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<h1>How...</h1>
						<h2 th:text="#{web.main.subtitle}">MEASURE YOUR ACTIVITY ON
							CLOUD</h2>
					</div>
					<!-- /col-lg-8 -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /hello -->

		<div id="green">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 centered">
						<img th:src="@{static/img/iphone.png}" src="assets/img/iphone.png"
							alt=""></img>
					</div>

					<div class="col-lg-7 centered">
						<h3 th:text="#{web.main.work.title}">WHAT YOU CAN DO?</h3>
						<p th:text="#{web.main.work.description}">Con HOW podras
							obtener una serie de valores con las que obtendras
							informaci&oacute;n sobre tu actividad en la nube.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row centered mt grid">
				<h3 th:text="#{web.main.apps}">YOU CAN MEASURE...</h3>
				<div class="mt"></div>
				<div th:each="app : ${apps}" class="col-lg-6">
					<a th:href="${app.url}" href="https://github.com/"><img th:src="${app.image}"
						src="assets/img/github.jpg" alt=""></img></a>
				</div>
			</div>

			<div class="row mt centered">
				<div class="col-lg-7 col-lg-offset-1 mt">
					<p th:text="#{web.main.feedback}" class="lead">Por ahora solo
						estamos integrados con estas aplicaciones, muy pronto dispondremos
						de mas. Si desea sugerirnos alguna en particular envianosla por
						correo. El unico requisito es que disponga de una API publica.</p>
				</div>

				<div class="col-lg-3 mt">
					<p>
						<a th:text="#{web.main.feedback.email}" href="mailto:sga.vmp@gmail.com" type="button"
							class="btn btn-theme btn-lg">Email Me!</a>
					</p>
				</div>
			</div>
		</div>
	</main>
	<main sec:authorize="isAuthenticated()" class="container" id="main-auth">
		<div class="container">
			<div class="row centered mt grid">
				<p th:text="#{web.app.mesaure.in}">Para acceder a la medida de cada aplicación pulse sobre el logo una vez conectes la cuenta.</p>
			</div>
			<div class="row centered mt grid">
				<div th:each="app : ${apps}" class="col-lg-4">
					<div class="thumbnail">
						<a th:if="${app.userIsConnect()}" th:href="@{'/measure/'+${app.code}}" href="https://github.com/">
						<img th:src="${app.image}" src="assets/img/github.jpg"
							th:alt="${app.nameApp}" alt="GITHUB"></img></a>
						<a th:unless="${app.userIsConnect()}" th:href="${app.url}" href="https://github.com/">
						<img th:src="${app.image}" src="assets/img/github.jpg"
							th:alt="${app.nameApp}" alt="GITHUB"></img></a>
						<div class="caption">
							<h4 th:utext="${app.nameApp}">GitHub</h4>
							<p th:text="#{${app.description}}">GitHub es una forja para alojar proyectos utilizando el
								sistema de control de versiones Git.</p>
							<form th:unless="${app.userIsConnect()}" th:action="@{'connect/' + ${app.code}}"
								method="POST">
								<button class="btn btn-block btn-social btn-github"
									type="submit">
									<i th:class="'fa fa-' + ${app.code}" class="fa fa-github"></i><span th:utext="#{web.app.connect(${app.nameApp})}">Conectar con Github</span>
								</button>
							</form>
							<form th:if="${app.userIsConnect()}" th:action="@{'connect/' + ${app.code}}"
								method="POST">
								<input type="hidden" name="_method" value="DELETE"></input>
								<button class="btn btn-block btn-social btn-github"
									type="submit">
									<i th:class="'fa fa-' + ${app.code}" class="fa fa-github"></i><span th:utext="#{web.app.disconnect(${app.nameApp})}">Desconectar de Github</span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:include="base :: footer"> </footer>
</body>
</html>
