<!DOCTYPE html>
<html lang="en">
<head th:include="base :: head">
</head>
<body>
	<header th:include="base :: header"> </header>
	<main class="container">
		<div class="row">
			<div class="col-lg-12 bhoechie-tab-container">
				<div class="col-lg-2 bhoechie-tab-menu">
					<div class="list-group">
						<a th:each="app : ${apps}" th:if="${app.userIsConnect()}" th:href="@{'/measure/'+ ${app.code}}"
							th:classappend="(${appCode} == ${app.code})?'active'"
							href="#" class="list-group-item text-center">
							<h4 th:class="'fa fa-' + ${app.code}" class="fa fa-github"></h4> <br /><span th:text="${app.nameApp}">GitHub</span>
						</a>
					</div>
				</div>
				<div class="col-lg-10 bhoechie-tab">
					<!-- app section -->
					<div th:replace="'modules/' + ${appCode} :: main" social:connected="trello"
						th:classappend="(${appCode}==${app.code})?'active'"
						class="bhoechie-tab-content active">
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:include="base :: footer"> </footer>
	<div th:replace="'modules/' + ${appCode} :: script">	</div>
</body>
</html>
